body{
    text-align: center;
    background-color: rgb(160, 232, 88);
}
#headerSection{
    padding: 10px;
}

#headerSection ,h1{
    font-family: cursive;
}

input{
    padding: 10px;
    border-radius: 5px;
    font-size: medium;
}

#dropbox{
    padding: 10px;
    border-radius: 5px;
    width: 30%;
    font-size: medium;
}

#loginbutton{
    padding: 5px;
    border-radius: 5px;
    font-size: 15px;
    background-color: aqua;
    color: black;    
}